<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>

    <title><%= title%></title>

    <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />	<style type="text/css">

        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font-family: 'Milonga', cursive;
        }
        .leaflet-container .leaflet-control-zoom {
            margin-left: 13px;
            margin-top: 70px;
        }
        #map { z-index: 1;}
        #title { z-index: 2; position: absolute; left: 10px; }
    </style>

</head>
<body>
    <% include templates/header.ejs%>
    <h1><%= title%></h1>
    <div id="map"></div>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script>
    var latlon = [53.3853822,-6.2595673];

    // add the map and set the initial center to DCU
    var map = L.map('map').setView(latlon, 17);
    // attribution to give credit to OSM map data and VBB for public transportation
    var attribution ="<a href='https://www.mapbox.com/about/maps/' target='_blank'>© Mapbox © OpenStreetMap</a> | ÖPNV Daten © <a href='http://www.vbb.de/de/index.html' target='_blank'>VBB</a> | Routing Service <a href='http://www.route360.net/de/' target='_blank'>Route360°</a>";

    // initialising the base map to openstreetmap as the layer is more detailed on Glasnevin Campus
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 18, attribution: attribution }).addTo(map);

    // set the service key to use API
    // please contact us and request your own key
    r360.config.serviceKey = '4AKJ5CXGKZONPYG6AFNP';
    r360.config.serviceUrl = 'https://service.route360.net/britishisles/';

    // create a marker and add it to the map
    var marker = L.marker(latlon).addTo(map);

    // create the layer to add the polygons
    var polygonLayer = r360.leafletPolygonLayer().addTo(map);

    // you need to define some options for the polygon service
    // for more travel options check out the other tutorials
    var travelOptions = r360.travelOptions();
    // we only have one source which is the marker we just added
    travelOptions.addSource(marker);
    // we want to have polygons for 5 to 30 minutes
    travelOptions.setTravelTimes([300, 600, 900, 1200]);
    // go by foot
    travelOptions.setTravelType('walk');

    // call the service
    r360.PolygonService.getTravelTimePolygons(travelOptions, function(polygons){

    // add the returned polygons to the polygon layer
    // and zoom the map to fit the polygons perfectly
    polygonLayer.clearAndAddLayers(polygons, false);
    });
    </script>
</body>
</html>
