<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<!--  Include r360.js -->
<script src="https://developers.route360.net/vendors/r360/r360-core-src.js"></script>

<!--  Include r360 stylesheet -->
<link rel="stylesheet" href="https://developers.route360.net/resources/css/r360.css" />

<!--  Include jQuery and jQuery UI -->
<script src="https://developers.route360.net/vendors/jquery/jquery.min.js"></script>
<script src="https://developers.route360.net/vendors/jquery-ui/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://developers.route360.net/vendors/jquery-ui/jquery-ui-1.10.0.custom.css" />


<!--  Include Underscore.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>

<!--  in case you want to use Leaflet -->
<script src="https://developers.route360.net/vendors/leaflet/leaflet.js"></script>
<script src="https://developers.route360.net/vendors/r360/r360-leaflet-src.js"></script>

<a href="/map">Glasnevin Campus</a>
<a href="/location">Current Location</a>
<a href="/multi">Multi-Campus Overview</a>